<div class="row">
  <h3>User Reviews</h3>
    <table class="user-review-table">
      <tr>
        <th>User</th>
        <th>Review</th>
        <th class="comment-row">Comment</th>
        <% if current_user %>
        <th class="remove-header">Remove your review</th>
        <% end %>
      </tr>

  <% @product.reviews.each do |r| %>
      <tr>
        <td><%= r.user.first_name %></td>
        <td>
          <% 0.upto(r.rating - 1) do %>
            <i class="fa fa-thumbs-up" aria-hidden="true"</i>
          <% end %>
        </td>
        <td><%= r.description %></td>
     <% if current_user %>
      <% if current_user.id === r.user_id %>
          <td><%= link_to fa_icon('minus-square'), product_review_path(product_id: @product, id: r), class: 'btn btn-sm btn-danger button-box', method: :delete %></td>
      </tr>
      <% end %> <!-- ends the if statement -->
    <% end %>
  <% end %> <!-- ends the each method -->
    </table>
</div> <!-- ends the class="row" on top of the User reviews string -->

